header {
    // aligne horizontalement et permets d'utiliser les propriétés flexbox
    display: flex;
    // créé un espacement horizontal (axe principal)
    justify-content: space-around;
    // centrer verticalement les éléments dans le conteneur (axe secondaire)
    align-items: center;
    border-bottom: black solid 2px;
    margin-bottom: 20px;
    img {
        width: 16%;
    }
    .header-text {
        text-align: center;
        width: 20%;
    }
    nav {
        width: 20%;
        ul {
            li,
            a {
                //aligne horizontalement
                display: inline-block;
                text-decoration: none;
                list-style: none;
            }
        }
    }
}

main {
    width: 90%;
    margin: auto;
    .incipit,
    .avantages {
        text-align: justify;
    }
}

h1,
.red {
    color: red;
    text-align: center;
}

.comparaisons_avec_flex {
    h4 {
        text-align: center;
    }
}

.container_accueil {
    display: flex;
    justify-content: center;
    //pour responsive : les colonnes s'enroulent en ligne si besoin
    flex-wrap: wrap;
    margin-bottom: 30px;
    .flex,
    .grid {
        margin-right: 30px;
        text-align: center;
        border: solid black 1px;
        padding: 10px;
        width: 100%;
        max-width: 600px;
    }
    h3 {
        border-bottom: black solid 0.5px;
        padding: 5px;
    }
}

.rouge,
.container_accueil {
    border: red solid 1px;
}

.noir {
    border: black solid 1px;
}

.green {
    border: dotted green 2px;
}

.black {
    border: dotted black 2px;
}

.container_grid {
    // centrer l'élément dans la page (width + margin : auto)
    width: 90%;
    margin: auto;
    display: grid;
    border: red solid 2px;
    // 2 colonnes de taille équivalente
    grid-template-columns: 50% 50%;
    // 1 ligne entête + 1 grande ligne équivalente à 4 petites lignes
    grid-template-rows: 1fr 4fr;
    // gouttière de 5px
    gap: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    .entete_flex {
        grid-row: 1/2;
        grid-column: 1/2;
        border: dotted black 2px;
    }
    .entete_grid {
        grid-row: 1/2;
        grid-column: 2/3;
        border: dotted green 2px;
    }
    .flex_content {
        grid-row: 2/3;
        grid-column: 1/2;
        border: dotted black 2px;
    }
    .grid_content {
        grid-row: 2/3;
        grid-column: 2/3;
        border: dotted green 2px;
    }
}